body{
	background-color: #242333;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 550px;
    padding: 20px;
    text-align: center;
}
button{
    width: 125px;
    height: 75px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
}

button:hover {
    background-color: #fff;
    color: #242333;
    transition:0.6s ease ;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-emphasis: none;
    color: #242333;
}